.content {
    position: relative;
    min-height: 1000px;
    border-radius: $radius_w;
    margin-bottom: 20px;
    background: $bg_color;
    .header {
        .profile {
            .profile-header {
                display: block;
                padding: 0 15px 15px;
                border-top-left-radius: $radius_w;
                border-top-right-radius: $radius_w;
                background-repeat: no-repeat;
                background-size: cover;
                .profile-avatar {
                    z-index: 2;
                    width: 90px;
                    height: 90px;
                    padding: 5px;
                    margin-top: -35px;
                    border-radius: $radius_w;
                    margin-right: 15px;
                    background: $bg_color;
                }
                .profile-name{
                    padding: 12px 0 0;
                    max-width: 360px;
                    .name_inner{
                        margin-bottom: 5px;
                    }
                    .title_inner{

                    }
                }
            }
            .profile-content {
                padding: 10px 15px;
                line-height: 2;
            }
            .profile-social {
                height: 40px;
                line-height: 40px;
                li {
                  list-style: none;
                  float: left;
                  width: 20%;
                  height: 100%;
                  text-align: center;
                  a {
                      display: inline-block;
                      width: 100%;
                      height: 100%;
                  }
                }
            }
        }
        .main-menu {
            display: block;
            height: 50px;
            line-height: 50px;
            --wired-combo-item-selected-bg: #fff59d;
            --wired-combo-item-hover-bg: #9df59d;
            .menu-item {
                width: 19.4%;
                text-align: center;
            }
        }
    }
    
    .slider {
        display: block;
        margin-top: 15px;
        padding: 15px;
        color: #666;
        .slider-inner {
            height: 250px;
            overflow: hidden;
        }
    }    

    .posts {
        display: block;
        margin-top: 15px;
        .post {
            display: block;
            margin-top: 15px;
            padding: 15px 0;
            .post-featured {
                padding: 0 15px;
                height: 150px;
                overflow: hidden;
                a {
                    display: block;
                }
            }

            .post-content {
                padding: 0 15px;
                height: 200px;
            }
        }
    }
}