@charset "UTF-8";

$container_w: 700px;
$radius_w: 5px;
$top_h: 150px;
$sidebar_w: 250px;

$line_color: #000;
$body_bg: #f6f6f6;
$f_color: #000;
$bg_color: #f6f6f6;
$a_color: #958881;
$a_h_color: #000;
